<h3>Fittany Lions Health & Wellness Program
    Official Terms and Conditions</h3>

    <p>PLEASE READ THIS DOCUMENT CAREFULLY. IT CONTAINS VERY IMPORTANT INFORMATION ABOUT YOUR RIGHTS AND OBLIGATIONS, AS WELL AS
        LIMITATIONS, EXCLUSIONS AND RELEASES THAT MAY APPLY TO YOU IF YOU REGISTER FOR THIS WEB APPLICATION FITTANY LIONS HEALTH & WELLNESS
        PROGRAM, DEFINED BELOW. BY REGISTERING, YOU ACKNOWLEDGE AND AGREE TO BE BOUND BY ALL OF THE TERMS AND CONDITIONS STATED HEREIN.
        IF YOU DO NOT AGREE TO THESE TERMS, DO NOT REGISTER FOR THE FITTANY LIONS WEB APPLICATION (“WEB APPLICATION”). SPONSOR RESERVES THE
        RIGHT TO MODIFY OR TERMINATE THE WEB APPLICATION AND/OR ANY OF ITS INTERACTIVE COMPONENTS AT ANY TIME AND IN ANY MANNER, IN
        WHOLE OR IN PART, AS OUTLINED BELOW, EVEN THOUGH SUCH CHANGES MAY AFFECT THE AVAILABILITY OF PRIZES. YOU AGREE THAT YOU WILL
        REVIEW THESE TERMS PERIODICALLY AND THAT YOU SHALL BE BOUND BY ANY MODIFICATIONS HEREOF.</p>

        <p>
            2. ELIGIBILITY: Subject to all the provisions of this Paragraph 2, the Program is open to legal residents of the Commonwealth of Pennsylvania who are 18
years of age or older at the time of registration and have the capacity to enter into a legally binding contract. Purchase of or coverage under a health
benefit plan, including those of Sponsor, is not required for participation in the Program. The Program is void elsewhere and where prohibited.
Employees of Sponsor, and Administrator, their parent, subsidiaries, affiliates, advertising and promotional agencies, suppliers, and any other companies
engaged in the development, production, or distribution of materials for the Web Application and/or Program, and household Participants of each such
employee, whether or not related, are not eligible to participate in the Program. High School Varsity athletes, their immediate family members (father,
mother or siblings) and their coaches are not eligible to participate in the Program. If you have been advised by someone in the medical profession not
to participate in any physical activities that could be harmful to your health or well-being, or you believe that your participation in any physical activities
could be harmful to your health or well-being, you should not register for the Program. As a condition of your eligibility to participate in the Program,
you will be required to acknowledge the provisions of the Release which are contained in the Registration section of the Web Application. Your failure to
acknowledge the Release makes you ineligible to participate in the Program. Once agreeing, the Release may not be modified, revoked or rescinded by a
Participant.
        </p>
        <p>
            2. ELIGIBILITY: Subject to all the provisions of this Paragraph 2, the Program is open to legal residents of the Commonwealth of Pennsylvania who are 18
years of age or older at the time of registration and have the capacity to enter into a legally binding contract. Purchase of or coverage under a health
benefit plan, including those of Sponsor, is not required for participation in the Program. The Program is void elsewhere and where prohibited.
Employees of Sponsor, and Administrator, their parent, subsidiaries, affiliates, advertising and promotional agencies, suppliers, and any other companies
engaged in the development, production, or distribution of materials for the Web Application and/or Program, and household Participants of each such
employee, whether or not related, are not eligible to participate in the Program. High School Varsity athletes, their immediate family members (father,
mother or siblings) and their coaches are not eligible to participate in the Program. If you have been advised by someone in the medical profession not
to participate in any physical activities that could be harmful to your health or well-being, or you believe that your participation in any physical activities
could be harmful to your health or well-being, you should not register for the Program. As a condition of your eligibility to participate in the Program,
you will be required to acknowledge the provisions of the Release which are contained in the Registration section of the Web Application. Your failure to
acknowledge the Release makes you ineligible to participate in the Program. Once agreeing, the Release may not be modified, revoked or rescinded by a
Participant.
        </p>
        <p>
            2. ELIGIBILITY: Subject to all the provisions of this Paragraph 2, the Program is open to legal residents of the Commonwealth of Pennsylvania who are 18
years of age or older at the time of registration and have the capacity to enter into a legally binding contract. Purchase of or coverage under a health
benefit plan, including those of Sponsor, is not required for participation in the Program. The Program is void elsewhere and where prohibited.
Employees of Sponsor, and Administrator, their parent, subsidiaries, affiliates, advertising and promotional agencies, suppliers, and any other companies
engaged in the development, production, or distribution of materials for the Web Application and/or Program, and household Participants of each such
employee, whether or not related, are not eligible to participate in the Program. High School Varsity athletes, their immediate family members (father,
mother or siblings) and their coaches are not eligible to participate in the Program. If you have been advised by someone in the medical profession not
to participate in any physical activities that could be harmful to your health or well-being, or you believe that your participation in any physical activities
could be harmful to your health or well-being, you should not register for the Program. As a condition of your eligibility to participate in the Program,
you will be required to acknowledge the provisions of the Release which are contained in the Registration section of the Web Application. Your failure to
acknowledge the Release makes you ineligible to participate in the Program. Once agreeing, the Release may not be modified, revoked or rescinded by a
Participant.
        </p>
        <p>
            2. ELIGIBILITY: Subject to all the provisions of this Paragraph 2, the Program is open to legal residents of the Commonwealth of Pennsylvania who are 18
years of age or older at the time of registration and have the capacity to enter into a legally binding contract. Purchase of or coverage under a health
benefit plan, including those of Sponsor, is not required for participation in the Program. The Program is void elsewhere and where prohibited.
Employees of Sponsor, and Administrator, their parent, subsidiaries, affiliates, advertising and promotional agencies, suppliers, and any other companies
engaged in the development, production, or distribution of materials for the Web Application and/or Program, and household Participants of each such
employee, whether or not related, are not eligible to participate in the Program. High School Varsity athletes, their immediate family members (father,
mother or siblings) and their coaches are not eligible to participate in the Program. If you have been advised by someone in the medical profession not
to participate in any physical activities that could be harmful to your health or well-being, or you believe that your participation in any physical activities
could be harmful to your health or well-being, you should not register for the Program. As a condition of your eligibility to participate in the Program,
you will be required to acknowledge the provisions of the Release which are contained in the Registration section of the Web Application. Your failure to
acknowledge the Release makes you ineligible to participate in the Program. Once agreeing, the Release may not be modified, revoked or rescinded by a
Participant.
        </p>
        <p>
            2. ELIGIBILITY: Subject to all the provisions of this Paragraph 2, the Program is open to legal residents of the Commonwealth of Pennsylvania who are 18
years of age or older at the time of registration and have the capacity to enter into a legally binding contract. Purchase of or coverage under a health
benefit plan, including those of Sponsor, is not required for participation in the Program. The Program is void elsewhere and where prohibited.
Employees of Sponsor, and Administrator, their parent, subsidiaries, affiliates, advertising and promotional agencies, suppliers, and any other companies
engaged in the development, production, or distribution of materials for the Web Application and/or Program, and household Participants of each such
employee, whether or not related, are not eligible to participate in the Program. High School Varsity athletes, their immediate family members (father,
mother or siblings) and their coaches are not eligible to participate in the Program. If you have been advised by someone in the medical profession not
to participate in any physical activities that could be harmful to your health or well-being, or you believe that your participation in any physical activities
could be harmful to your health or well-being, you should not register for the Program. As a condition of your eligibility to participate in the Program,
you will be required to acknowledge the provisions of the Release which are contained in the Registration section of the Web Application. Your failure to
acknowledge the Release makes you ineligible to participate in the Program. Once agreeing, the Release may not be modified, revoked or rescinded by a
Participant.
        </p>