<div class="container-fluid hero_container" id="landing-page">
	<div class="row container-fluid hero_container">
		<div class="col-xs-12  hero_container" style="background-color: #081d3a;">
			<div class="container">
				<img class="fittany-logo-desktop" alt="fittany-logo" src="content/images/Fittany_Lions_Logo Desktop.png">
				
			</div>
			<div class="container">
				<img class="fittany-logo-mobile" alt="fittany-logo" src="content/images/Fittany_Lions_Logo-Mobile.png">
				
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-7 background_cover_top">
				</div>
				<div class="col-sm-12 col-md-6 col-lg-5 col-margin col-position">
					<div class="row">
						<div class="col-sm-12 margin-bottom">
							<div class="">
								<h1 class="fittany_h1 margin-bottom">Get up for the challenge with Fittany Lions!</h1>
								<p class="fittany_p">This space will speak about the challenge details and rule.
									Complete challenges every week for the three categories fitness, wellness, and nutritions. Win exciting prizes every month, every six month and annually for working towards your overall wellness goals.
								</p>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 margin-bottom">
							<div class="image-container">
								<img class="" alt="fitness-logo" src="content/images/Fitness-Icon.png">
								<h2 class="fittany_subheading">FITNESS</h2>
								<p class="fittany_p">This space will speak about fitness challenge.
								</p>
								
							</div>
						</div>
						<div class="col-sm-12 col-md-4 margin-bottom">
							<div class="image-container">
								<img class="" alt="nutritions-logo" src="content/images/nutrition-Icon.png">
								<h2 class="fittany_subheading">NUTRITION</h2>
								<p class="fittany_p">This space will speak about nutrition challenge.
								</p>
								
							</div>
						</div>
						<div class="col-sm-12 col-md-4 margin-bottom">
							<div class="image-container">
								<img  alt="wellness-logo" src="content/images/Wellness-Icon.png" class="wellness-logo">
								<h2 class="fittany_subheading">WELLNESS</h2>
								<p class="fittany_p">This space will speak about wellness challenge.
								</p>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
		<div class="col-xs-12  hero_container background_cover_bottom">
			<div class="align-left">
				
				<div class="row">
					<div class="col-sm-12 col-md-12 margin-bottom">
						<h1 class="fittany_h1_variance">Excited to take up the challenge</h1>
						
					</div>
					<div class="col-sm-12 col-md-6">
						<p class="fittany_p_variance">Submit your email address to get notified when we launch. Share it with your friends and also, win exciting prizes.
						</p>
					</div>
					<div class="col-sm-12 col-md-6 share2 button_padding">
						<div class="form-group">
							<button class="btn btn-default btn-lg fittany_form_button2">Share on Facebook</button>
						</div>
					</div>
					<div class="col-sm-12">
						<form name="notify-form" role="form">
							<div class="row">
								<div class="col-sm-12 col-md-8">
									<div class="form-group custom-form-group">
										<input placeholder="Email" type="email" class="form-control fittany_form_input" id="email" name="email" ng-model="email" required>
									</div>
								</div>
								<div class="col-sm-12 col-md-4">
									<div class="form-group">
										<button class="btn btn-default btn-lg fittany_form_button">GET NOTIFIED</button>
									</div>
								</div>					
							</div>		
						</form>
					</div>
					<div class="col-sm-12 share button_padding">
						<div class="form-group">
						<button class="btn btn-default btn-lg fittany_form_button2">Share on Facebook</button>
					</div>
					</div>
					
					
				</div>
				<div class="">
					
					<div class="row footer_disclaimer">
						<div class="col-xs-6" style="text-align: right;">
							<a href="" ng-click="vm.open()" class="disclaimer">Disclaimer</a>
						</div>
						<div class="col-xs-6">
							<a href="" ng-click="vm.open()" class="disclaimer">Privacy Policy</a>
						</div>
						
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	
</div>