.custom-input {
  border: none !important;
  border-bottom: 2px solid #150a0a3b !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  font-size: 20px !important;
  font-family: open-sans !important;
  padding-left: 0 !important;
  color: #000 !important;
  background-color: #fafafa !important;
  width: 100% !important; }

.custom-form-group {
  margin-bottom: 20px !important; }

.custom-buttom {
  padding: 14px 26px !important;
  font-size: 32px !important;
  border-radius: 0 !important;
  border: 2px solid #232348;
  font-family: open-sans !important;
  width: 100%; }

.custom-buttom:hover, .custom-buttom:active, .custom-buttom.active {
  color: #ffffff !important;
  background-color: #242835 !important;
  border: 0 !important; }

.button-group {
  padding-top: 20px !important; }

.highmark-label {
  font-size: 20px !important;
  color: #7d7575fa !important;
  font-weight: 400 !important; }

.text-muted {
  font-size: 15px !important;
  color: #b5b0b0; }

.custom-checkbox.checkboxactive:after {
  content: '\2713';
  display: block;
  color: black;
  font-size: 14px;
  padding-left: 2px; }

.custom-checkbox {
  margin: 0px !important;
  border: 1px solid #808080 !important;
  border-radius: 0 !important;
  width: 20px !important;
  height: 20px !important;
  font-size: 12px !important;
  background-color: #fff !important;
  margin-left: 15px !important;
  position: relative;
  top: 2px;
  display: block;
  cursor: pointer; }

.custom-checkbox input[type="checkbox"] {
  display: none; }

.checkbox-error {
  margin-top: 40px; }

.input-checkbox {
  padding: 9px 0px 0px 0px;
  border-bottom: 1px solid #80808061;
  color: #808080e3;
  height: 35px;
  cursor: pointer;
  width: 100px;
  text-align: center;
  width: 100% !important;
  background-color: #8c868614 !important; }

.inputcheckboxactive {
  color: #000;
  border-bottom: 1px solid;
  background-color: #cfe3f5 !important; }

.input-checkbox input {
  width: 0px;
  height: 0px;
  display: none; }

.radiocircleactive {
  color: black !important; }

.radio-circle {
  content: '\2022';
  margin-top: -37px;
  color: gray;
  font-size: 40px;
  height: 0px;
  display: block;
  text-align: right;
  padding-right: 15px; }

@media screen and (max-width: 767px) {
  .profile-pic {
    margin: 10%; } }
@media screen and (min-width: 768px) {
  .profile-pic {
    margin: 5% 30%; }

  .margin-left {
    position: relative;
    margin-left: -30px; } }
@media only screen and (max-width: 481px) {
  .custom-checkbox {
    margin-left: -15px !important;
    margin-top: -2px !important; }

  .custom-buttom {
    padding: 10px 1px !important;
    font-size: 20px !important;
    border-radius: none;
    border: 2px solid #232348; }

  .highmark-label {
    font-size: 12px !important; }

  .terms-condition {
    font-size: 11px !important; } }
.checkboxactive {
  border: 2px solid #696363fa !important; }

.padding-top {
  padding-top: 25px; }

.fittanyLinks {
  color: #0a1c2b !important;
  text-decoration: underline !important; }

.terms-condition {
  position: absolute;
  margin-left: -22%; }

.container, .row {
  margin-left: 0px !important;
  margin-right: 0px !important; }

@media only screen and (min-width: 481px) and (max-width: 991px) {
  .background_cover_bottom {
    background: url("content/images/Texture-email fields.png") no-repeat !important;
    background-size: cover;
    background-position: center; } }
@media only screen and (min-width: 1441px) {
  .fittany_h1 {
    font-weight: 500 !important;
    font-size: 37px !important;
    padding: 0 16px !important;
    padding-top: 0px !important;
    color: #fff !important; } }
@media only screen and (min-width: 1201px) {
  .col-position {
    position: absolute;
    left: 50%; }

  .fittany_h1 {
    font-weight: 500;
    font-size: 20px;
    padding: 0 16px;
    padding-top: 0px;
    color: #fff; }

  .fittany_subheading {
    font-weight: 300;
    font-size: 28px;
    padding-top: 0;
    color: #8e8383; }

  .fittany_p {
    font-weight: lighter;
    line-height: 20px;
    font-size: 18px;
    color: #8e8383; }

  .img_padding {
    padding-left: 35px; } }
@media only screen and (min-width: 769px) {
  .background_cover_top {
    background: url("content/images/Lion-Desktop.png") no-repeat;
    height: 679px;
    background-position: center; }

  .background_cover_bottom {
    background: url("content/images/Texture-email fields.png") no-repeat;
    background-size: cover;
    background-position: center; }

  .fittany-logo-desktop {
    margin: 20px 0 0 30px;
    display: block;
    background-color: #ededed; }

  .fittany-logo-mobile {
    display: none; }

  .col-margin {
    margin-top: 100px; }

  .fittany_h1 {
    font-weight: 500;
    font-size: 20px;
    padding: 0 16px;
    text-align: left;
    color: #fff; }

  .fittany_subheading {
    font-weight: 500;
    font-size: 25px;
    color: #8e8383;
    text-align: left; }

  .fittany_p {
    text-align: left;
    font-weight: lighter;
    line-height: 1.4;
    font-size: 16px;
    color: #8e8383; }

  .align-left {
    left: 320px;
    margin-left: 200px;
    margin-right: 200px; }

  .fittany_h1_variance {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    color: #091d3c;
    text-align: center; }

  .fittany_p_variance {
    padding: 0 10px;
    text-align: left;
    font-weight: lighter;
    line-height: 1.4;
    font-size: 16px;
    color: #091d3c; }

  .share {
    display: none; }

  .button_padding {
    padding-right: 30px; } }
@media screen and (min-width: 501px) and (max-width: 991px) {
  .col-margin {
    padding-left: 18%; }

  .fittany_p {
    text-align: left; }

  .fittany_p_variance {
    text-align: left; } }
@media screen and (max-width: 991px) {
  .background_cover_top {
    background: url("content/images/Lion-Mobile.png") no-repeat;
    height: 300px;
    background-position: center; }

  .background_cover_bottom {
    background: url("content/images/Texture-email fields-Mobile.png") no-repeat;
    background-size: cover;
    background-position: center; }

  .content_div {
    position: relative; }

  .image-container {
    margin-top: 50px;
    margin-left: calc(100%/5);
    margin-right: calc(100%/5); }

  .image-container img {
    padding-left: calc(100%/5); }

  .wellness-logo {
    background-blend-mode: luminosity;
    opacity: 0.3; }

  .fittany-logo-mobile {
    margin: 10px 0 0 -10px;
    display: block;
    background-color: #ededed; }

  .fittany-logo-desktop {
    display: none; }

  .fittany_h1 {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    padding-top: 0px;
    color: #fff; }

  .fittany_h1_variance {
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: #091d3c; }

  .fittany_subheading {
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    margin-left: inherit; }

  .fittany_p {
    padding: 0 10px;
    text-align: center;
    font-weight: lighter;
    line-height: 1.4;
    font-size: 16px;
    color: #a09696; }

  .fittany_p_variance {
    padding: 0 10px;
    text-align: center;
    font-weight: lighter;
    line-height: 1.4;
    font-size: 16px;
    color: #091d3c; }

  .col-margin {
    margin-top: -160px; }

  .share2 {
    display: none; }

  .button_padding {
    padding-left: 30px;
    padding-right: 30px; } }
.hero_container {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative;
  top: 0; }

.fittany_form_input {
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  font-size: 24px !important;
  padding-left: 20px !important;
  height: 70px;
  background-color: #56515159;
  color: #000 !important; }

input.fittany_form_input::placeholder {
  color: #000; }

.fittany_form_button {
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  font-size: 30px !important;
  font-weight: 300;
  text-align: center;
  height: 70px;
  background-color: #091d3c;
  color: #fff !important;
  width: 100%; }

.fittany_form_button2 {
  border: 2px solid #091d3c !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  font-size: 25px !important;
  font-weight: 300;
  text-align: center;
  height: 70px;
  background: transparent;
  color: #091d3c !important;
  width: 100%; }

.fittany_form_button:hover, .fittany_form_button2:hover {
  background: #9e9b9b; }

.disclaimer {
  color: #091d3c !important;
  text-decoration: underline;
  font-size: 15px;
  font-weight: 400; }

.footer_disclaimer {
  padding-top: 50px;
  padding-bottom: 50px; }

.margin-bottom {
  margin-bottom: 20px; }

.disclaimer_heading {
  color: #040f1f;
  text-decoration: underline;
  line-height: 13px; }

.modal-dialog {
  width: 100%; }

.modal-body {
  margin-left: 25%;
  width: 50%; }

.disclaimer_p {
  color: #3f424252; }

body {
  font-family: 'Open Sans', sans-serif !important; }

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.collapse.in {
  transition: margin-left 2s;
  margin-left: -15px !important; }
