<div class="container">
	<div class="container">
		<h2>Title</h2>
		<h2>Message</h2>
		<p>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
		</p>
		
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12">
			<form role="form" ng-submit="login()">
				<div class="form-group custom-form-group ">
					<input placeholder="Email Address" type="email" name="email" id="email" class="form-control custom-input" ng-model="email" required />
					
				</div>
				<div class="form-group custom-form-group ">
					<input placeholder="Password" type="password" name="password" id="password" class="form-control custom-input" ng-model="password" required />
				</div>
				<div class="row button-group">
					<div class="col-xs-6 col-sm-6">
						<button ng-class="{active: state.current.name === 'signup'}" ui-sref="signup" class="btn btn-default btn-lg custom-buttom">Sign Up</button>
					</div>
					<div class="col-xs-6 col-sm-6">
						<button ng-class="{active: state.current.name === 'login'}"  class="btn btn-default btn-lg custom-buttom">Log in</button>
					</div>
					
				</div>
				
			</form>
		</div>
		
	</div>
</div>