<div class="conatiner" ng-controller="EmailETController">
<div class="col-sm-12">
    <form name="notify-form" role="form" ng-submit="loginNotify()">
        <div class="row">
            <div class="col-sm-12 col-md-8">
                <div class="form-group custom-form-group">
                    <input placeholder="Email" type="email" class="form-control fittany_form_input" id="email" name="email" ng-model="email" required>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <button class="btn btn-default btn-lg fittany_form_button">GET NOTIFIED</button>
                </div>
            </div>					
        </div>		
    </form>
</div>
<div class="row footer_disclaimer">
    <div class="col-xs-6" style="text-align: right;">
        <a href="" modal-popup modal-size="lg" modal-html="app/components/modal/modal.html" class="disclaimer">Disclaimer & Privacy Policy</a>
    </div>
    
</div>


